<div class="drawer" #drawer color="success">
  <ion-header>
    <div class="ion-text-center">
      <ion-button fill="clear" expand="full" (click)="toggleDrawer()">
        <div class="drawer-pull"></div>
      </ion-button>
    </div>

  </ion-header>

  <ion-content>
    <ion-card>

      <img src="assets/icon/photo.jpg" class="imgStyle">
  
      <ion-card-content class="ion-text-center">
        <ion-card-title >
          Tuhin Kole
        </ion-card-title>
        <p>
          This is Bottom Drawer in Ionic... Awesome Look
        </p>
      </ion-card-content>
  
      <ion-item>
        <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
        Followers
        <ion-badge slot="end">260k</ion-badge>
      </ion-item>
  
    </ion-card>
    
  </ion-content>
  
</div> 