<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Menu Level: {{ level }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-nav-link router-direction="forward" [component]="nextPage" [componentProps]="{level: level+1}" >
      <ion-item button>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
        <ion-label>
          Go to Level {{ level + 1 }}
        </ion-label>
      </ion-item>
    </ion-nav-link>

    <ion-menu-toggle [autoHide]="false">
      <ion-item [routerLink]="['/menu/menu','details',level]">
        <ion-icon name="exit" slot="end"></ion-icon>
        <ion-label>
          Open Content
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-nav-link router-direction="root" [component]="nextPage" [componentProps]="{ level:0}" *ngIf="level > 0">
      <ion-item button>
        <ion-icon name="arrow-back" slot="end"></ion-icon>
        <ion-label>
          Go to root
        </ion-label>
      </ion-item>
    </ion-nav-link>
    <ion-nav-link router-direction="forward">
      <ion-item button>
        <ion-icon name="logo-tux" slot="end"></ion-icon>
        <ion-label>
          Auto Hide Header
        </ion-label>
      </ion-item>
    </ion-nav-link>
    
  </ion-list>

</ion-content>
