<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>
      Drawer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="false">
  <div class="backdrop" [ngClass]="backdropVisible ? 'fade-in' : 'fade'" tappable (click)="drawer.toggleDrawer()"></div>
  <ion-button (click)="drawer.toggleDrawer()" expand="full">Open the Drawer !</ion-button>
  <app-drawer (openStateChanged)="toggleBackdrop($event)" #drawer></app-drawer>
</ion-content>
